.common {
  max-inline-size: 800px;
  margin-inline: auto;
  padding: 1rem;
  section {
    > h1 {
      margin-block: 1.4em 0.6em;
      font-size: 2.4em;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      > a {
        inline-size: fit-content;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.25rem;
        align-items: center;
        text-decoration: none;
        font-size: 0.8rem;
        font-size: 1rem;
        > svg {
          inline-size: 1em;
          block-size: 1em;
          aspect-ratio: 1;
        }
      }
    }
    > nav {
      margin-block: 5rem;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        li {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          a {
            inline-size: fit-content;
            padding-inline-start: 1.5em;
            font-size: 1.1rem;
            text-indent: -1.5em;
            text-decoration: none;
            &::before {
              content: "→";
              margin-inline-end: 0.5em;
            }
          }
          span {
            display: block;
            padding-inline-start: 1.5rem;
            font-size: 0.8rem;
            line-height: 1.4;
            color: gray;
          }
        }
      }
    }
  }
}
