:root {
  color-scheme: dark;
  font-family: system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  background: #000;
}

body {
  container-type: size;
}
#root {
  inline-size: 100cqi;
  block-size: 100cqb;
}

button {
  cursor: pointer;
}

.common {
  max-inline-size: 800px;
  margin-inline: auto;
  padding: 1rem;
  section {
    > h1 {
      margin-block: 1.4em 0.6em;
      font-size: 2.4em;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      > a {
        inline-size: fit-content;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.25rem;
        align-items: center;
        text-decoration: none;
        font-size: 0.8rem;
        font-size: 1rem;
        > svg {
          inline-size: 1em;
          block-size: 1em;
          aspect-ratio: 1;
        }
      }
    }
    > nav {
      margin-block: 5rem;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        li {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          a {
            inline-size: fit-content;
            font-size: 1.1rem;
            text-underline-offset: 0.2ex;
            text-decoration-thickness: from-font;
          }
          span {
            display: block;
            font-size: 0.8rem;
            color: gray;
          }
        }
      }
    }
  }
}
